# Bỏ qua các file sinh ra trong quá trình biên dịch chéo
*.i
*.s
*.o
*.elf
*.bin
*.hex
# Build output
Objects/
Listings/
DebugConfig/

# Keil user files
*.uvoptx
*.uvguix.*

# Build artifacts
*.axf
*.map
*.lst